.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

.navbar-custom {
    background-color: rgb(130, 223, 171);
}

a {
    colour: white;
}
