<!-- <table>
    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Amount</th>
    </tr>
    <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.description }}</td>
        <td class="imgLink"><img src="{{'data:image/jpg;base64,'+ transaction.picture }}" onerror="this.onerror=null; this.remove();"></td>
        <td>{{ transaction.amount }}</td>
    </tr>
</table> -->


<div>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>


    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Date
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.date  | date: "dd MMM yyyy, hh:mm:ss" }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Category
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.category }} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Description
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.description  }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="picture">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Picture
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
    
          <img src="{{'data:image/jpg;base64,'+ element.picture }}" 
          onerror="this.onerror=null; this.remove();" 
          style="width:100%;max-width:300px" 
          onclick="var image = new Image();
          image.src = this.src;
          var w = window.open('');
          w.document.write(image.outerHTML);">

      </mat-cell>
      
    </ng-container>


    <ng-container matColumnDef="amount">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Amount
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.amount | currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="removeTransaction(i)">
          <mat-icon aria-label="Delete">delete</mat-icon>
          <!-- <input type="hidden" id="transactionId" name="transactionId" value="{{ element.transactionId }}"> -->
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of transaction"></mat-paginator>
</div>