<h1 class="center">Money Tree</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container modal-content">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" placeholder="enter username here" matInput formControlName="username">
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        
      
        <div>
          <button style="float: right" class="block" type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
            Login
          </button>
        </div>
        <br>
        <br>
        <div>
          <h6>New to MoneyTree? Click here to register!</h6>
        </div>

      </form>



