    <form *ngIf="!isLoggedIn" [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <mat-card>
        <mat-card-title class="center">Login</mat-card-title>
        <mat-card-content>

          <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" placeholder="enter username here" matInput formControlName="username">
            </mat-form-field>
        </div>
        
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="form-group">
          <button class="block background-mint" mat-raised-button [disabled]="form.invalid">
            Login
          </button>
        </div>
        </mat-card-content>

        <mat-card-actions> 
          <div class="form-group">
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </mat-card-actions>
      </mat-card>     
      </form>

      <mat-card *ngIf="isLoggedIn">
        <div class="alert alert-success">
          You are now logged in as {{ username }}.
        </div>
      </mat-card>
